.title{
    height: 58px; 
}
/* .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    background-color:burlywood;
    padding-bottom: 20px;
    margin-right: 450px;
    margin-left: 450px;
    
} */
/* .first-block{
    margin: 16px;
    padding-inline: 200px;
}
.second-block{
    margin: 16px;
    padding-inline: 200px;
}
.third-block{
    margin: 16px;
    padding-inline: 200px;
}
.forth-block{
    margin: 16px;
    padding-inline: 200px;
} */
.cont{
    border: 1px solid;
    padding-block: 20px;
    margin-inline: 500px;
    background-color: burlywood;
}

